force-app/main/default/flows/F_Member_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Member_Exists</name>
        <label>Member Exists</label>
        <locationX>248</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProgram</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Program_Exists</name>
        <label>Program Exists?</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>CreateMember</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetProgram</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No</label>
        </rules>
    </decisions>
    <formulas>
        <name>EndDateTime</name>
        <dataType>DateTime</dataType>
        <expression>Now()+1</expression>
    </formulas>
    <formulas>
        <name>ExternalID</name>
        <dataType>String</dataType>
        <expression>{!$Record.Member.Id}&amp;&quot;-&quot;&amp;{!$Record.CollaborationGroupId}</expression>
    </formulas>
    <formulas>
        <name>FullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Member.FirstName}&amp;&quot; &quot;&amp;{!$Record.Member.LastName}</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <interviewLabel>Fielo member Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fielo Member Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateMember</name>
        <label>Create Member</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>F_ExternalID__c</field>
            <value>
                <elementReference>ExternalID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieloPLT__Email__c</field>
            <value>
                <elementReference>$Record.Member.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieloPLT__JoinDate__c</field>
            <value>
                <elementReference>$Record.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieloPLT__Program__c</field>
            <value>
                <elementReference>GetProgram.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieloPLT__Type__c</field>
            <value>
                <stringValue>Employee</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FieloPLT__User__c</field>
            <value>
                <elementReference>$Record.Member.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_ID__c</field>
            <value>
                <elementReference>$Record.CollaborationGroup.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Group_Name__c</field>
            <value>
                <elementReference>$Record.CollaborationGroup.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>FullName</elementReference>
            </value>
        </inputAssignments>
        <object>FieloPLT__Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Member</name>
        <label>Get Member</label>
        <locationX>248</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Member_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_ExternalID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ExternalID</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieloPLT__Member__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProgram</name>
        <label>GetProgram</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Program_Exists</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>F_Network_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CollaborationGroup.Network.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FieloPLT__Program__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>122</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Member</targetReference>
        </connector>
        <object>CollaborationGroupMember</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
